body{
background-image: url("stue4.png");
background-color: white;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;


}
#karakter{
  height: 250px;
  width: 250px;
  border: 3px solid #333;
  background-color: #fff;
  margin-left: 30px;
  border-radius: 5px;
  }

#center{
color: black;
font-family: arial, serif;
background-color: #f2e6d9;
border: 1px solid #d2a679;
padding: 2px 10px;
width: 300px;
height: 200px;
text-align: center;
margin-left: 650px;;
line-height: 1.5;
border-radius: 5px;
}
#myButton1{
box-shadow:inset 2px 2px 2px 0px #3dc21b;
background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
background-color:#44c767;
border-radius:6px;
border:1px solid #18ab29;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:24px;
font-weight:bold;
padding:10px 10px;
text-decoration:none;
text-shadow:5px 5px 20px #2f6627;
visibility: visible;
margin-top: 20px;
margin-left: 300px;
}
#myButton1:hover {
background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
background-color:#5cbf2a;
color: white;
text-decoration: none;
}
#myButton1:active {
position:relative;
top:5px;
}

#myButton2{
box-shadow:inset 2px 2px 2px 0px #fff6af;
background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
background-color:#ffec64;
border-radius:6px;
border:1px solid #ffaa22;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:24px;
font-weight:bold;
padding:10px 10px;
text-decoration:none;
margin-left: 15px;
margin-top: 20px;

}
#myButton2:hover {
background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
background-color:#ffab23;
color: white;
text-decoration: none;
}
#myButton2:active {
position:relative;
top:1px;
}
/* Snakkeboble og tanker*/
#snakkeBoble {
color: black;
font-size: 18px;
}

span.bubble {
width: 180px;
line-height: 1.4em;
background-color: #fff;
border: 2px solid #333;
border-radius: 30px;
font-family: sans-serif;
padding: 10px;
position: absolute;
left: 280px;
top: 12px;
}

span.thought {
width: 250px;
border-radius: 200px;
padding: 30px;
}

span.bubble:before,
span.bubble:after {
content: ' ';
position: absolute;
width: 0;
height: 0;
}

span.speech:before {
left: 30px;
bottom: 50px;
border: 25px solid;
border-color: #333 transparent transparent #333;
}

span.speech:after {
left: 38px;
bottom: -30px;
border: 15px solid;
border-color: #fff transparent transparent #fff;
}

span.thought:before,
span.thought:after {
left: -5px;
bottom: -30px;
top: 72px;
width: 40px;
height: 40px;
background-color: #fff;
border: 2px solid #333;
-webkit-border-radius: 28px;
-moz-border-radius: 28px;
border-radius: 28px;
}

span.thought:after {
width: 20px;
height: 20px;
top: 100px;
left: -12px;
-webkit-border-radius: 18px;
-moz-border-radius: 18px;
border-radius: 18px;
}
