
* {
  font-family: Arial, sans-serif;
  text-align: center;
}
h2{
  color: #FFF;
}
h3{
  color: #FFF;
}
body {
background-image: url('samfBilde.jpg');
background-repeat: no-repeat;
background-size: cover;
}
#mainForm {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
#karakter{
  height: 250px;
  width: 250px;
  border: 3px solid #333;
  background-color: #fff;
  margin-left: 30px;
  border-radius: 5px;
  }

  #btnMeny {
    width: 540px;
    height: 560px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    margin-top: 19px;
  }

/* Snakkeboble og tanker*/

span.bubble {
	width: 180px;
	text-align: center;
	line-height: 1.4em;
	background-color: #fff;
	border: 8px solid #333;
	border-radius: 30px;
	font-family: sans-serif;
	padding: 10px;
position: absolute;
left: 150px;
top: 39px;
}


span.bubble:before,
span.bubble:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
}

span.speech:before {
	left: 30px;
	bottom: -50px;
	border: 25px solid;
	border-color: #333 transparent transparent #333;
}

span.speech:after {
	left: 38px;
	bottom: -30px;
	border: 15px solid;
	border-color: #fff transparent transparent #fff;
}
